<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <title>To-do</title>
</head>
<body>
    <header class="header">
        <div class="header--container">
            <h1 class="header--title header--title__primary">Hey <span class="header--title__accent">James</span>,<h1>
            <h2 class="header--title header--title__secondary"> this is your to-do list</h2>
        </div>
    </header>
    <section class="tasks">
        <!-- <h2 class="tasks--title">Current Tasks</h2> -->
        <div class="tasks--container">
            <h2 class="tasks--title">Today</h2>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Groceries to buy: Onion, Tomato, Coriander, Rice, Wheat Flour</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tasks--container">
            <h2 class="tasks--title">Tomorrow</h2>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tasks--container">
            <h2 class="tasks--title">Upcoming</h2>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
            <div class="tasks--tab">
                <div class="tasks--body">
                    <p class="tasks--content">Make a visit to GP.</p>
                    <div class="tasks--info">
                        <div class="tasks--status">Pending</div>
                        <div class="tasks--date">23.04.2023</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>