<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% load icons %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    <title>To-do</title>
</head>
<body>
    <header class="header">
        <div class="header--container">
            <h1 class="header--title header--title__primary">Hey <span class="header--title__accent">{{user.name}}</span>,</h1>
            <h2 class="header--title header--title__secondary"> this is your to-do list</h2>
        </div>
        <div class="header--body">
            <div class="header--icon mr-sm open-modal">{% icon 'add' %}</div>
            <!-- <button 
                class="header--button" 
                type="submit">
                Add Tasks</button> -->
        </div>
    </header>
    <div class="modal modal--hide" id="modal">
        <div class="modal--content">
            <h2 class="modal--title">Add a task</h2>
            <button class="close-modal">Close</button>
        </div>
    </div> 
    <section class="tasks">
        <!-- <h2 class="tasks--title">Current Tasks</h2> -->
        <div class="tasks--container">
            <h2 class="tasks--title">Today</h2>
            {% if no_task_today %}
            <p class="tasks--message">Oops...You have no tasks scheduled for today!!!!</p>
            {% else %}
                {% for task in tasks_today %}
                    {% if task.task_status == True %}
                    <div class="tasks--tab tasks--tab__success">
                    {% else %}
                    <div class="tasks--tab tasks--tab__ongoing">
                    {% endif %}    
                        <div class="tasks--body">
                            <p class="tasks--content">{{ task.task_desc }}</p>
                            <div class="tasks--action">
                                <span class="tasks--action__delete mr-sm">{% icon 'bin' extra_classes='fa-lg' %}</span>
                                <span class="tasks--action__edit">{% icon 'edit' extra_classes='fa-lg' %}</span>
                            </div>
                            <div class="tasks--info">
                                {% if task.task_status == False %}
                                <div class="tasks--status">Pending</div>
                                {% else %}
                                <div class="tasks--status">Completed</div>
                                {% endif %}
                                <!-- <div class="tasks--action">{% icon 'bin' %} {% icon 'edit' %}</div> -->
                                <div class="tasks--date">{{ task.task_created }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="tasks--container">
           <h2 class="tasks--title">Tomorrow</h2>
           {% if no_task_tomorrow %}
           <p class="tasks--message">Oops...You have no tasks scheduled for tomorrow!!!!</p>
           {% else %}
                {% for task in tasks_tomorrow%}
                    {% if task.task_status %}
                    <div class="tasks--tab tasks--tab__success">
                    {% else %}
                    <div class="tasks--tab tasks--tab__ongoing">
                    {% endif %}                         
                        <div class="tasks--body">
                            <p class="tasks--content">{{ task.task_desc }}</p>
                            <div class="tasks--info">
                                {% if task.task_status == False %}
                                <div class="tasks--status">Pending</div>
                                {% else %}
                                <div class="tasks--status">Completed</div>
                                {% endif %}
                                <div class="tasks--date">{{ task.task_created }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
       <div class="tasks--container">
            <h2 class="tasks--title">Upcoming</h2>
            {% if no_task_week %}
            <p class="tasks--message">Oops...You have no tasks scheduled for the rest of the week!!!!</p>
            {% else %}
                {% for task in tasks_week %}
                    {% if task.task_status %}
                    <div class="tasks--tab tasks--tab__success">
                    {% else %}
                    <div class="tasks--tab tasks--tab__ongoing">
                    {% endif %} 
                        <div class="tasks--body">
                            <p class="tasks--content">{{ task.task_desc }}</p>
                            <div class="tasks--info">
                                {% if task.task_status == False %}
                                <div class="tasks--status">Pending</div>
                                {% else %}
                                <div class="tasks--status">Completed</div>
                                {% endif %}
                                <div class="tasks--date">{{ task.task_created }}</div>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <script src="{%static 'index.js'%}"></script>
</body>
</html>