@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1a535c;
    --secondary-color: #4ecdc4;
    --white-color: #f7fff7;
    --tertiary-color: #ff6b6b;
    --yellow-color: #ffe66d;
}

.mr-sm{
    margin-right: .1rem;
}

body{
    font-size: 62.5%;
    background-color: var(--white-color);
    font-family: 'Poppins', sans-serif;
}

.header{
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 1fr;
    padding: 5rem 15rem;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    position: relative;
}

.header--body{
    justify-self: end;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: center;
    align-items: center;
}

.header--button{
    border: none;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}

.header--button::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: .2rem;
    width: 0;
    background-color: var(--secondary-color);
    z-index: 1;
    transition: all .5s ease-in-out;
}

.header--button:hover::before{
    width: 100%;
}

.header--icon{
    font-size: 2rem;
    font-weight: 200;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    padding: .5rem;
    position: relative;
    cursor: pointer;
    transition: all .2s;
}

.header--icon:hover{
    animation: scale .5s;
}

@keyframes scale {
    50%{
        transform: scale(.9);
    }
    80%{
        transform: scale(1.2);
    }
    99%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1);
    }
}

.fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .header--button:hover .fa{
    transform: rotate(-135deg);
    transform-origin: center center;
} */

.header--title{
    color: var(--primary-color);
    letter-spacing: .02rem;
}

.header--title__primary{
    font-size: 4rem;
    font-weight: 400;
    line-height: calc(1.2*4rem);
}

.header--title__secondary{
    font-size: 3rem;
    font-weight: 400;
    line-height: calc(1.2*3rem);
}

.header--title__accent{
    color: var(--secondary-color);
}

.tasks{
    padding: 5rem 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.tasks--title{
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.tasks--message{
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-color);
}

.tasks--container{
    padding: 1rem 0;
    /* display: inherit;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem; */
}

.tasks--tab{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    /* background-color: var(--yellow-color); */
    border-radius: .5rem;
    transition: all .2s ease-in-out;
}

.tasks--tab:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: -1rem 1rem 3rem var(--yellow-color);
}

.tasks--tab__ongoing{
    background-color: var(--yellow-color);
}

.tasks--tab__success{
    background-color: var(--secondary-color);
}

/* .tasks--tab:nth-child(4){
    background-color: var(--secondary-color);
} */

.tasks--body{
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 1fr 1fr;
    /* justify-content: space-between; */
    align-self: end;
    min-height: 10vh;
    /* grid-gap: 1rem; */
}

.tasks--content{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3rem;
}

.tasks--info{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: max-content max-content;
    /* grid-gap: 1rem; */
    justify-content: space-between;
    align-self: end;
}

.tasks--status, .tasks--date, .tasks--action{
    font-size: .7rem;
}

.tasks--action{
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.tasks--tab:hover .tasks--action{
    visibility: visible;
}

.tasks--action__delete{
    color: var(--primary-color);
}

.tasks--action__edit{
    color: var(--primary-color);
}


.modal{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* padding: 1rem; */
    background-color: rgba(var(--primary-color), .8);
    /* -webkit-backdrop-filter: brightness(sepia); */
    backdrop-filter: blur(.5rem);
}

.modal--hide{
    display: none;
}

.modal--content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--yellow-color);
    border-radius: .5rem;
    padding: 1rem;
}

.close-modal{
    cursor: pointer;
}



/* .tasks--checkbox{
    position: absolute;
    opacity: 0;
}

.tasks--checkbox + label{
    position: relative;
    cursor: pointer;
}

.tasks--checkbox + label:before{
    content: "";
    margin-right: .1rem;
    display: inline-block;
    vertical-align: text-top;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--white-color);
}

.tasks--checkbox:hover + label:before{
    background-color: var(--secondary-color);
}

.tasks--checkbox:focus + label:before{
    background-color: var(--secondary-color);
} */
